* {
  box-sizing: border-box;
}
body {
  background-color: rgb(4, 153, 48);
}
h1 {
  text-align: center;
  color: whitesmoke;
  font-weight: 900;
}

canvas {
  margin-left: 28rem;
  margin-top: 1rem;
  background: #eee;
}
